<div class="container">
  <div class="row custom-wrapper">
    <div class="col-md-12">

      <!-- Form starts -->
      <form [formGroup]="registrationForm">

        <div class="group-gap">


          <!-- Name -->
          <div class="mb-3">
            <label [ngClass]="{'error': submitted && myForm.name.errors}">Name</label>
            <input type="text" class="form-control" formControlName="name" [ngClass]="{'error': submitted && myForm.name.errors}">

            <!-- error block -->
            <div class="invalid-feedback" *ngIf="submitted && myForm.name.errors?.required">
              <sup>*</sup>Please enter your name
            </div>
            <div class="invalid-feedback" *ngIf="submitted && myForm.name.errors?.pattern">
              <sup>*</sup>Please enter valid email
            </div>
          </div>

          <!-- Email -->
          <div class="mb-3">
            <label [ngClass]="{'error': submitted && myForm.email.errors}">Email</label>
            <input type="text" class="form-control" formControlName="email" [ngClass]="{'error': submitted && myForm.email.errors}">

            <!-- error block -->
            <div class="invalid-feedback" *ngIf="submitted && myForm.email.errors?.required">
              <sup>*</sup>Please enter your email
            </div>
          </div>

          <!-- DOB -->
          <div class="mb-3">
            <label [ngClass]="{'error': submitted && myForm.dob.errors}">Email</label>
            <input type="date" class="form-control" formControlName="dob" [ngClass]="{'error': submitted && myForm.dob.errors}">

            <!-- error block -->
            <div class="invalid-feedback" *ngIf="submitted && myForm.dob.errors?.required">
              <sup>*</sup>Please enter your DOB
            </div>
          </div>

          <!-- Address -->
          <div class="mb-3">
            <label [ngClass]="{'error': submitted && myForm.address.errors}">Address</label>
            <input type="text" class="form-control" formControlName="address" [ngClass]="{'error': submitted && myForm.address.errors}">

            <!-- error block -->
            <div class="invalid-feedback" *ngIf="submitted && myForm.address.errors?.required">
              <sup>*</sup>Please enter your Address
            </div>
          </div>

          <!-- Phone Number -->
          <div formGroupName="contactNumber">
            <div class="mb-3" style="float:left">
              <label [ngClass]="{'error': submitted && myForm.contactNumber['controls'].countryCode.errors}">
                Phone Number</label>
              <select class="form-control" formControlName="countryCode">
                <option  *ngFor ="let countryCode of countryCodes" [value]="countryCode">{{countryCode}}</option >
              </select>
              <!-- error block -->
              <div class="invalid-feedback" *ngIf="submitted && myForm.contactNumber['controls'].countryCode.errors?.required">
                <sup>*</sup>Enter your name
              </div>
              <div class="invalid-feedback" *ngIf="submitted && myForm.contactNumber['controls'].countryCode.errors?.minlength">
                <sup>*</sup>Name must be 2 characters long
              </div>
              <div class="invalid-feedback" *ngIf="submitted && myForm.contactNumber['controls'].countryCode.errors?.pattern">
                <sup>*</sup>No special charcter allowed
              </div>
            </div>

            <div class="mb-3">
              <input type="text" class="form-control" formControlName="phoneNumber" [ngClass]="{'error': submitted && myForm.contactNumber['controls'].phoneNumber.errors}">
              <!-- error block -->
              <div class="invalid-feedback" *ngIf="submitted && myForm.contactNumber['controls'].phoneNumber.errors?.required">
                <sup>*</sup>Please enter your surname
              </div>
            </div>
          </div>



          <!-- Submit Button -->
          <button type="submit" (click) = "onSubmit()" class="btn btn-danger btn-lg btn-block">Submit</button>
          <button type="submit" (click) = "resetForm()" class="btn btn-danger btn-lg btn-block">Reset</button>
        </div>

      </form><!-- Form ends -->

    </div>
  </div>
</div>
